@model SaleAppMVC.Models.ordergood

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ordergood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.good_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.good_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordergood_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordergood_quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ordergood_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
