@model IEnumerable<SaleAppMVC.Models.vendor>

@{
    ViewBag.Title = "Index";
}

<h2>供应商</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.vend_id)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem=>item.vend_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vend_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.vend_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vend_id })
        </td>
    </tr>
}

</table>
