@model IEnumerable<SaleAppMVC.Models.store>

@{
    ViewBag.Title = "Index";
}

<h2>门店</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stor_address)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.stor_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stor_address)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.stor_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.stor_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.stor_id })
    </td>
</tr>
}

</table>
