@model IEnumerable<SaleAppMVC.Models.repo_good>

@{
    ViewBag.Title = "Index";
}

<h2>仓库-商品</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.repo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.good_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelitem => item.repo_id)
    </td>
    <td>
        @Html.DisplayFor(modelitem => item.good_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
